@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display&display=swap');

* {
  background-color: white;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

#box1 {
  display:flex;
  justify-content: space-between;
}

#nav-bar2 {
  margin: 20px;
}

#box2 {
  display:flex;
  flex-direction: column;
  align-items: baseline;
}

#name {
  margin-top: 50px;
  width: 220px;
  height: 100px;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1A2236;
  align-self: center;
}

#description {
  margin-top:20px;
  height: 126px;
  width: 288px;
  border-radius: nullpx;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  align-self: center;
  color: #1A2236;
}

#contact {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  left: 16px;
  top: 390px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  background: #1A2236;
}
